body {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  /* font-style: normal; */

}

.logo{
    width: 80px;
    height: 80px;
}

.hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
text-align: center;
}

h3{
  color: hsl(0, 0%, 0%);
} 

h2{
  color: hsl(210, 10%, 33%);
}

p{
  color: hsl(201, 11%, 66%);
  padding-left: 50px;
  padding-right: 50px;
 
}

.hero_button{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.ios_btn{
  border-radius: 20px;
  padding: 10px;
  color: white;
  background-color: hsl(171, 66%, 44%);
  padding-left: 50px; 
  padding-right: 50px; 
  border: none;
  box-shadow: 10px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  
}

.mac_btn{
  border-radius: 20px;
  padding: 10px;
  color: white;
  background-color:  hsl(233, 100%, 69%);
  padding-left: 50px; 
  padding-right: 50px; 
  border: none;
  box-shadow: 10px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
} 

.second_div h2{
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.second_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 30px;
}
 
.fourth_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fifth_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgs{
 display: flex;
 justify-content: center;
 padding-left: 50px;
 padding-top: 50px;
 padding-bottom: 50px;

}

.Sixth_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.Seventh_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}

.Eigth_div{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.second_btn{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
  margin-bottom: 150px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo_one{
  margin: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}

.icons{
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

footer{
  background-color: hsl(210, 20%, 96%);
}

@media (min-width: 768px) {

  /* General spacing */
  p {
    max-width: 600px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  /* Hero buttons side-by-side */
  .hero_button,
  .second_btn {
    flex-direction: row;
  }

  /* Section: Computer + features */
  .third_div,
  .fourth_div {
    flex-direction: row;
    align-items: flex-start;
  }

  .third_div img {
    width: 500px;
  }

  .fourth_div {
    max-width: 500px;
    margin-left: 80px;
    align-items: flex-start;
    text-align: left;
  }

  .fourth_div p {
    text-align: left;
  }

  /* Workflow cards */
  .Sixth_div {
    flex-direction: row;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto 100px;
  }

  .Sixth_div h2,
  .Sixth_div p {
    width: 100%;
    text-align: center;
  }

  /* Logos row */
  .Seventh_div {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto 150px;
  }

  /* Devices image */
  .imgs {
    width: 600px;
  }

  /* Footer layout */
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 80px;
  }

  footer p {
    padding: 0;
  }

  .icons {
    margin-top: 0;
  }
}
